{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
{% for answer in answer_list %}
    {% if answer.question.content.author == user %}
    <a href="{% url 'contents:answer_detail' answer.pk %}">回答情報{{answer.pk}}</a>
    {% endif %}
    <br>
    {% empty %}
    <p class="box">問題は存在しません。</p>
{% endfor %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<canvas id="myChart" width="3" height="1"></canvas>
<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
{% endblock %}