{% extends "accounts/base.html" %}
{% block content %}
{% for question, answer in a_q.items %}
<details>
    <summary>「{{question}}」の統計情報</summary>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <canvas id="myChart{{forloop.counter}}_num" width="3" height="1"></canvas>
    <canvas id="myChart{{forloop.counter}}_sex" width="3" height="1"></canvas>
</details>
<script type="text/javascript">
    var ctx = document.getElementById("myChart{{forloop.counter}}_num");
    var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['選択肢1','選択肢2','選択肢3','選択肢4'],
      datasets: [
        {
          label: "人数",
          data: [3,5,2,8],
          backgroundColor: "#48FA17"
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: '各選択肢の人数'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 10,
            suggestedMin: 0,
            stepSize: 1,
            callback: function(value, index, values){
              return  value +  '人'
            }
          }
        }]
      },
    }
  });
</script>
<script>
  var ctx = document.getElementById("myChart{{forloop.counter}}_sex");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["男性", "女性", "その他"], //データ項目のラベル
      datasets: [{
          backgroundColor: [
              "#08A4FF",
              "#F52827",
              "#D9C7BD"
          ],
          data: [11,4,3] //グラフのデータ
      }]
    },
    options: {
      title: {
        display: true,
        //グラフタイトル
        text: '性別比'
      }
    }
  });
</script>
{% endfor %}
{% endblock %}