{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
{% for answer in answer_list %}
    問題タイトル:{{answer.question}},
    答え:{{answer.response}}, 
    正解: {{answer.question.get_answer_display}}
    解答者: {{answer.solver.get_age_display}}
    <br>
    {% empty %}
    <p class="box">問題は存在しません。</p>
{% endfor %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<canvas id="myChart" width="3" height="1"></canvas>
<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
{% endblock %}