{% extends "accounts/base.html" %}
{% load humanize %}
{% block content %}
<form id="search-form" action="" method="GET">
    {{ search_form.key_word }}
    <button type="submit" id="search-button">検索</button>
    <div class="inline-checkbox">
        {{ search_form.tag }}
    </div>
</form>
<section id="list" class="container">
    {% for content in content_list %}
        {% if content.is_public %}
        <a class="box" href="{% url 'contents:content_detail' content.pk %}">
            <article class="box-inner">

                <div class="backend">

                    <!-- <div class="mask">
                        <div class="caption">Read More</div>
                    </div> -->
                    
                        <div class="meta">
                            <h2 class="title">{{ content.title }}</h2>

                            <p class="author">作成者: {{ content.author }}</p>
                            <p class="date">{{ content.created_at }}（
                                <time class="updated_at"
                                    datetime="{{ content.updated_at | date:'Y-m-d' }}">{{ content.updated_at | naturaltime }}に更新
                                </time>
                                ）
                            </p>
                        </div>

                </div>
            </article>
        </a>
        {% endif %}
        {% empty %}
        <p class="box">検索結果はありませんでした。</p>
    {% endfor %}
    </section>
{% endblock %}