{% extends "accounts/base.html" %}
{% load humanize %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>タイトル</th>
            <td>{{ content.title }}</td>
        </tr>
        <tr>
            <th>解説</th>
            <td>{{ content.content_text }}</td>
        </tr>
        <tr>
            <th>更新日時</th>
            <td>{{ content.updated_at | naturaltime }}</td>
        </tr>
    </tbody>
</table>
{% if content.author == user %}
<a href="{% url 'contents:add_question' content.pk %}" style="text-align: right">問題作成はこちら</a>
{% endif %}
{% endblock %}