{% extends "accounts/base.html" %}
{% load humanize %}

{% block content %}
<style>
    h1{
        text-align: center;
    }
</style>
<table class="table">
    <tbody>
        <tr>
            <td><h1>{{ content.title }}</h1></td>
        </tr>
        <tr>
            {% if '<script' in content.content_text %}
            <td>{{ content.formatted_markdown | linebreaksbr}}</td>
            {% else %}
            <td>{{ content.formatted_markdown | safe | linebreaksbr}}</td>
            {% endif %}
        </tr>
        <tr>
            <td>更新日時: {{ content.updated_at | naturaltime }}</td>
        </tr>
    </tbody>
</table>
<a href="{% url 'contents:question_list' content.pk %}">問題一覧</a>
{% endblock %}