{% extends "accounts/base.html" %}
{% load humanize %}
{% block content %}
<section id="list" class="container">
    {% for content in content_list %}
        {% if content.author.id == user.pk %}
        <a class="box" href="{% url 'contents:my_content_update' content.pk %}">
            <article class="box-inner">

                <div class="backend">

                    <!-- <div class="mask">
                        <div class="caption">Read More</div>
                    </div> -->
                    
                        <div class="meta">
                            <h2 class="title">{{ content.title }}</h2>

                            <p class="author">作成者: {{ content.author }}</p>
                            <p class="date">{{ content.created_at }}（
                                <time class="updated_at"
                                    datetime="{{ content.updated_at | date:'Y-m-d' }}">{{ content.updated_at | naturaltime }}に更新
                                </time>
                                ）
                            </p>
                        </div>

                </div>
            </article>
        </a>
        {% endif %}
        {% empty %}
        <p class="box">コンテンツは存在しません。</p>
    {% endfor %}
    </section>
{% endblock %}