{% extends "accounts/base.html" %}
{% block content %}
<style>
    h1{
        text-align: center;
    }
</style>
<table class="table">
    <tbody>
        <tr>
            <h1>{{ question.question_title }}</h1>
        </tr>
        <tr>
            <form name="quiz">
                {{question.question_text}}
                <br>
                <input type=radio name="choice" value="選択肢1">[選択肢1] {{question.choice1}}
                <br>
                <input type=radio name="choice" value="選択肢2">[選択肢2] {{question.choice2}}
                <br>
                <input type=radio name="choice" value="選択肢3">[選択肢3] {{question.choice3}}
                <br>
                <input type=radio name="choice" value="選択肢4">[選択肢4] {{question.choice4}}
                <br>
                <input type=button value="採点" onClick="judge()">
            </form>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
function parse_cookies() {
    var cookies = {};
    if (document.cookie && document.cookie !== '') {
        document.cookie.split(';').forEach(function (c) {
            var m = c.trim().match(/(\w+)=(.*)/);
            if(m !== undefined) {
                cookies[m[1]] = decodeURIComponent(m[2]);
            }
        });
    }
    return cookies;
}

function judge() {
    var url = "http://localhost:1337/api/answers/";
    var data;
    // var data = JSON.stringify({"response":document.quiz.choice.value, "question":{{question.id}}, "solver":"{{user.pk}}"});
    // console.log(data);
    const choice_list = document.quiz.choice;
    if(choice_list[{{question.answer}} - 1].checked){
        data = JSON.stringify({"response":document.quiz.choice.value, "question":{{question.id}}, "solver":"{{user.pk}}", "is_correct":"true"});
        alert("正解!");
    }
    else{
        data = JSON.stringify({"response":document.quiz.choice.value, "question":{{question.id}}, "solver":"{{user.pk}}", "is_correct":"false"});
        alert("不正解!");
    }
    var request = new XMLHttpRequest();
    request.open('POST', url, true);
    var cookies = parse_cookies(); 
    // console.log(cookies);
    request.setRequestHeader("Content-Type", "application/json");
    request.setRequestHeader('X-CSRFToken', cookies['csrftoken']); 
    request.send(data);
}
</script>
{% endblock %}