{% extends "accounts/base.html" %}
{% block content %}
<style>
    h1{
        text-align: center;
    }
</style>
<table class="table">
    <tbody>
        <tr>
            <h1>{{ question.question_title }}</h1>
        </tr>
        <tr>
            <form name="quiz">
                {{question.question_text}}
                <br>
                <input type=radio name="choice">{{question.choice1}}
                <br>
                <input type=radio name="choice">{{question.choice2}}
                <br>
                <input type=radio name="choice">{{question.choice3}}
                <br>
                <input type=radio name="choice">{{question.choice4}}
                <br>
                <input type=button value=" 採点 " onClick="judge()">
            </form>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
function judge() {
    if(document.quiz.choice[{{question.answer}} - 1].checked){
        alert("正解!");
    }
    else{
        alert("不正解!");
    }
}
</script>
{% endblock %}