{% extends "accounts/base.html" %}
{% block content %}
<style>
    h1{
        text-align: center;
    }
</style>
<table class="table">
    <tbody>
        <tr>
            <h1>{{ question.question_title }}</h1>
        </tr>
        <tr>
            <form name="quiz">
                {{question.question_text}}
                <br>
                <input type=radio name="choice" value="選択肢1">{{question.choice1}}
                <br>
                <input type=radio name="choice" value="選択肢2">{{question.choice2}}
                <br>
                <input type=radio name="choice" value="選択肢3">{{question.choice3}}
                <br>
                <input type=radio name="choice" value="選択肢4">{{question.choice4}}
                <br>
                <input type=button value="採点" onClick="judge()">
            </form>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
function judge() {
    const choice_list = document.quiz.choice;
    if(choice_list[{{question.answer}} - 1].checked){
        alert("正解!");
    }
    else{
        alert("不正解!");
    }
}
</script>
{% endblock %}