/* ヘッダー下メニュー */
#menu {
    margin-bottom: 100px;
    text-align: center;
  }
  
#menu a {
  color: #333;
  font-weight: bold;
}

  /* 検索フォーム */
#search-form {
  margin-bottom: 48px;
}
  
/* 一覧 レイアウト */
@media (min-width: 1024px) {
  #list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    column-gap: 50px;
    justify-items: center;
  }
}
  
@media (min-width: 1366px) {
  #list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
  
  
/* 一覧の各ノート */
.box {
  margin-bottom: 100px;
  display: block;
}

.box:hover {
  text-decoration: none;
}

.box-inner {
  display: grid;
  grid-template-rows: auto auto;
}
  
.backend {
  background-color: whitesmoke;
  grid-column: 1;
  grid-row: 1;
}

@media (min-width: 1024px) {
  .backend {
    width: 437px;
    height: 273px;
    object-fit: cover;
  }
}

@media (min-width: 1366px) {
  .backend {
    width: 388px;
    height: 242px;
  }
}
  
  
.meta {
  color: #666;
  text-align: center;
  grid-column: 1;
  grid-row: 2;
}

.title {
  margin: 1em 0;
  color: #333;
}

.author {
  margin-bottom: .5em;
}
  
/* .mask {
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;

  grid-column: 1;
  grid-row: 1;
  display: grid;
  justify-items: center;
  align-items: center;
} */

.box:hover .mask {
  opacity: 1;
}

.caption {
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  border: solid 1px #fff;
  padding: 0.5em 1em;
}

/* カスタムチェックボックス */
.custom-checkbox {
  display: none;
}

.custom-checkbox:checked + .custom-checkbox-label {
  background: #00809d;
  color: #fff;
}

.custom-checkbox-label {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  border: solid 1px #ccc;
  transition: 0.25s;
  padding: 4px 16px;
  cursor: pointer;
  font-size: 14px;
  margin: 3px;
}

.custom-checkbox-label:hover {
  opacity: 0.5;
}

.inline-checkbox {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 0;
}

input[type=text], input[type=email], input[type=number],
select, textarea {
    font-size: 14px;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px #ccc;
    background-color: #fff;
    font-family: "Ubuntu", "Noto Sans JP", sans-serif;
}

button, a.button {
    font-size: 14px;
    -webkit-appearance: none;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #ccc;
    vertical-align: bottom;
    font-family: "Ubuntu", "Noto Sans JP", sans-serif;

    /* a要素用の設定 */
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #333;

    /* button要素用の設定 */
    cursor: pointer;
}

button:hover, a.button:hover {
    opacity: 0.5;
}

button.btn-link, a.btn-link {
    border: none;
    color: #00809d;
    vertical-align: initial;
}